@font-face {
    font-family: "Helvetical";
    src: url('/css/font/helveticaneue.ttf');
    /*src:*/
            /*url('/css/font/helveticaneuebolditalic.ttf') format("bolditalic");*/
            /*url('/css/font/helveticaneuecondensedblack.ttf') format("condensedblack");*/
            /*url('/css/font/helveticaneuecondensedbold.ttf') format("black");*/
            /*url('/css/font/helveticaneueitalic.ttf') format("italic");*/
            /*url('/css/font/helveticaneuelight.ttf') format("light");*/
            /*url('/css/font/helveticaneuelightitalic.ttf') format("lightitalic");*/
            /*url('/css/font/helveticaneuemedium.ttf') format("medium");*/
            /*url('/css/font/helveticaneueultralightitalic.ttf') format("ultralightitalic");*/

}
body{
    font-family: "Helvetical", Helvetical;
    font-weight: 400;
    text-align: left;
}
ul li{
    display: inline;
    margin-right: 10px;
    border-left: 1px solid #000;
    padding: 7px 15px;
}
a, a:hover, a:active, a:focus{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.widget-header
{
    background: #242424;
    color: #fff;
    font-size: 15px;
    padding: 7px 15px;
}
.reset-css
{
    margin: 0;
    padding: 0;
}
.uppercase {
    text-transform: uppercase;
}
